{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for msg in messages %}

        <li id="{{ msg.id }}" class="list-group-item">
          <a href="/messages/{{ msg.id }}" class="message-link"/>
          <a href="/users/{{ user.id }}">
            <img src="{{ msg.user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
            <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ msg.text }}</p>
          </div>

          <div class="ml-auto" id="likes-container">
            {% if user.id != msg.user.id %}
              {% if user.likes_message(msg.id) %}
                <form method="POST" action="/users/remove_like/{{ msg.id }}" class="messages-like">
                  <button class="btn btn-small"><i class="fas fa-heart"></i></button>
                </form>
              {% else %}
                <form method="POST" action="/users/add_like/{{ msg.id }}" class="messages-like">
                  <button class="btn btn-small"><i class="far fa-heart"></i></button>
                </form>
              {% endif %}
            {% else %}
              <form method="POST" action="/messages/{{ msg.id }}/delete" class="messages-like">
                <button class="btn btn-small"><i class="far fa-trash-alt"></i></button>
              </form>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}